<div class="dropdown">
<h1>Product Listings</h1>

  <app-dropdown-menu></app-dropdown-menu>
</div>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Image</th>
  </tr>
  <tr *ngFor="let property of propertyData">
    <td>{{ property.name }}</td>
    <td>{{ property.description }}</td>
    <td [style.color]="property.forSale ? '#F0001A' : 'black'" [style.font-weight]="property.forSale ? 'bold' : 'normal'">{{ property.price }}</td>
    <td><img [src]="'http://localhost:8080/product/image/' + property.image" class="small-image" alt="Product Image"></td>
  </tr>
</table>
