table {
    width: 700px;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: white;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .small-image {
    max-width: 100px;
    max-height: 80px;
    width: auto;
    height: auto;
  }
  
  table {
    margin: 0 auto;
  }
  
  th, td {
    text-align: center;
  }

  .dropdown{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  